.hero{
  height: 100vh
  background: url("img/welcome.png")
center/cover no-repeat;
}

.banner{
    position:relative;
}

.banner img{
    width:100%;
    height:396px;
    object-fit:cover;
    display:block;
}

.banner::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:120px;
    background:linear-gradient(to bottom, transparent, #0f2027);
}